<header class="site-header" role="banner">
    <div class="wrapper" style="display: flex; align-items: center; justify-content: space-between;">
      <a class="site-title" rel="author" href="/">Copilot Partner Resources</a>
      <nav class="site-nav" style="flex-grow: 1; text-align: right;">
        <input type="checkbox" id="nav-trigger" class="nav-trigger">
        <label for="nav-trigger">
        </label>
        <div class="trigger">
          {% for page in site.pages %}
            {% if page.nav_exclude != true %}
              <a class="page-link" href="{{ page.url }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
    </div>
  </header>
  