<div style="text-align: center;">
  <footer style="padding-bottom: 20px;">
    <a href="https://github.com/bodanesc/copilot-resources" style="display: inline-block; text-align: left; padding-right: 10px;">
      <img id="github-icon" class="invertable-svg" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub" style="width: 30px; height: 30px; vertical-align: middle;">
    </a>
    <a href="https://github.com/bodanesc/copilot-resources" style="text-decoration: none;">
      <span style="vertical-align: middle; font-weight: bold;">Created by the Central Europe GPS Tech Team</span>
    </a> <br>
  </footer>
</div>
